Source: ros-rolling-moveit-resources-panda-moveit-config
Section: misc
Priority: optional
Maintainer: Mike Lautman <mike@picknik.ai>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ros-workspace
Homepage: http://moveit.ros.org/
Standards-Version: 3.9.2

Package: ros-rolling-moveit-resources-panda-moveit-config
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-controller-manager, ros-rolling-gripper-controllers, ros-rolling-joint-state-publisher, ros-rolling-joint-state-publisher-gui, ros-rolling-moveit-resources-panda-description, ros-rolling-position-controllers, ros-rolling-robot-state-publisher, ros-rolling-ros2cli-common-extensions, ros-rolling-topic-tools, ros-rolling-xacro, ros-rolling-ros-workspace
Description: MoveIt Resources for testing: Franka Emika Panda A project-internal configuration for testing in MoveIt.
